<p id="notice"><%= notice %></p>

<p>
  <strong>Career:</strong>
  <%= @job.career %>
</p>

<p>
  <strong>Des1:</strong>
  <%= @job.des1 %>
</p>

<p>
  <strong>Des2:</strong>
  <%= @job.des2 %>
</p>

<p>
  <strong>Des3:</strong>
  <%= @job.des3 %>
</p>

<p>
  <strong>Des4:</strong>
  <%= @job.des4 %>
</p>

<p>
  <strong>Des5:</strong>
  <%= @job.des5 %>
</p>

<p>
  <strong>Des6:</strong>
  <%= @job.des6 %>
</p>

<p>
  <strong>Des7:</strong>
  <%= @job.des7 %>
</p>

<p>
  <strong>Des8:</strong>
  <%= @job.des8 %>
</p>

<p>
  <strong>Skill1:</strong>
  <%= @job.skill1 %>
</p>

<p>
  <strong>Skill2:</strong>
  <%= @job.skill2 %>
</p>

<p>
  <strong>Skill3:</strong>
  <%= @job.skill3 %>
</p>

<p>
  <strong>Skill4:</strong>
  <%= @job.skill4 %>
</p>

<p>
  <strong>Skill4:</strong>
  <%= @job.skill4 %>
</p>

<p>
  <strong>Skill5:</strong>
  <%= @job.skill5 %>
</p>

<p>
  <strong>Skill6:</strong>
  <%= @job.skill6 %>
</p>

<p>
  <strong>Skill7:</strong>
  <%= @job.skill7 %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
