<!DOCTYPE html>
<html>
<head>
   	
     <title>ideology software technologies pvt ltd trivandrum</title>
     <meta name="description" content="ideology software technologies pvt ltd trivandrum.">
     <meta name= "keywords" content="IdeologySoft,ideology,ideologysoftwaretechnologies,ideology software technologies pvt ltd">
     <link rel="canonical" href="https://ideology.herokuapp.com">

  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
<%= render 'layouts/header'%>
<%= yield %>

</body>
</html>
